
/* general style */
* {
    margin: 0;
    padding: 0;
}


body  {
  font-family : "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 0.9em;
  margin : 2em 1%;
  padding : 0;
  color : black;
}

h1 {
  color: #535353;
  font-weight: bold;
  font-size: 40px;
  text-align: center
}

h2 {
  color: #535353;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0.5em;
}

h3 {
  color: #535353;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

t{
  color: #535353;
}

a{
  color: rgb(70, 116, 150);
}

p{
  margin: 1em 0 0 0;
}

ol {
  padding-left: 2.5em ;
  margin: 8px 2px;
}

ul  {
 padding-left:0;   
}

ul li  {
 list-style-position:inside
}

.page {
  background-color : #fff;
  width : 80%;
  padding : 0em;
  margin: 40px auto 10px auto;
  height: 80%;
}

.section {
  margin-bottom: 1.5em;
  text-align: justify;
}

.u {
  text-decoration: underline;
}

/* menu */
#menu {
  float: left;
  width: 15%;
  padding: 3em 1em;
  font-size: 18px;
  color: #ffffff;
}

#menu div {
    font-variant: small-caps;
    font-size: 20px;
    color: #535353;
}


#menu ul {
  list-style: none;
  text-indent: 0;
  padding-left: 0.6em;
  margin-bottom: 1.5em;
  line-height: normal;
}

#menu li {
  cursor: pointer;
  margin: 4px 0px;
  line-height: 22px;
  text-align: left;
}

#menu li:hover {
  color: inherit;
  background-color: #eee;
}

#menu a {
  text-decoration: none;
  text-align: left;
  color: black;
  width:100px;
}


/* header */
#header {
    padding: 0em 0em 1em 0em;
    border-bottom: 1px solid #666;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#header .photo {
  margin-bottom: 1.5em;
  float: left;
  width: 10%;
}


#header .title {
  color: rgb(83, 83, 83);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

#header .sub-title {
  color: rgb(83, 83, 83);
  font-size: 20px;
  text-align: center;
}

#header .author {
  color: rgb(83, 83, 83);
  font-size: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
}

#header .editor {
  color: rgb(83, 83, 83);
  font-size: 18px;
  text-align: center;
}

#header a {
  color: rgb(83, 83, 83);
}

/* content */
#content {
    margin: 3em 0;
    min-height: 25em;
    margin-left: 20%;
    width: 80%;
}

/* conseil d'administration */
div.ca {
  width: 15%;
  height: 22.5%;
  text-align: center;
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(83, 83, 83);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 0% 1% 1% 0%;
  padding: 5px;
  display: inline-block;
}

div.ca-out {
  width: 60%;
  text-align: center;
  display:inline-block;
}

img.ca {
  max-width: 80%;
  max-height:70%;
}

/* footer */

#footer {
    clear: both;
    width: 100%;
    font-size: 0.75em;
    padding: 0.7em 0 1em 0;
    border-top: 1px solid #666;
}

#footer .valid {
    margin: 0.6em 0em;
    float: right;
    clear: right;
}

/* computation */

.compute{
 text-align: center;
 margin: 2em 0;
}

.field{
  margin: 1em;
}
.result{
  margin: 1em;
  padding: 0.5em;
}
span.result{
  background-color: rgb(183, 183, 183);
}

/* error messages */
#error {
  display: none;
  background-color: #fcc;
  color: #933;
  text-align:center;
  margin: 1em 0;
  padding: 0.5em 0.5em;
}

/* spacer */
.spacer {
  clear: both;
}

